.pointer{
  cursor: pointer;
}
.pointer_drop{
  cursor: no-drop !important;
}
.flex_center_end{
  display: flex;
  align-items: center;
  justify-content: end;
}
.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_col_center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex_center_between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex{
  display: flex;
  align-items: center;
}
.pagination{
  background: #ffffff;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}