:root {
  --el-color-primary: #3D6EDF;
}
:root {
  --el-text-color-secondary: #555555;
}
:root {
  .el-dialog__body{
    padding: 10px 20px;
  }
}
.dialog-footer{
  text-align: right;
  margin: 20px 0px 10px;
}